//colors
$color-primary: black;
$color-secondary: rgb(113, 32, 167);

//fonts
$font-primary: 'Helvetica';
$font-primary-hover: 'Times New Roman';
$font-secondary: 'Hoefler text';

//font size
$font-primary-size: 100%;
// $font-primary-size-hover: 102%;
$font-terciary-size: 90%;
