.name {
  &-first {
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: $font-primary;
    font-size: 100%;
    font-weight: normal;
    line-height: 22px;
  }
  &-last {
    margin-top: 0;
    margin-bottom: 15px;
    font-family: $font-primary;
    font-size: 100%;
    font-weight: normal;
    line-height: 22px;
  }
}
