@font-face {
  font-family: 'Ajile';
  src: url('Ajile.ttf.woff') format('woff'), url('Ajile.ttf.svg#Ajile') format('svg'), url('Ajile.ttf.eot'), url('Ajile.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
